go 1.22

use (
	.
	../../external/go-cmp
	../../external/golang-protobuf
	../../external/starlark-go
	../blueprint
)

replace (
	github.com/golang/protobuf v0.0.0 => ../../external/golang-protobuf
	github.com/google/blueprint v0.0.0 => ../blueprint
	github.com/google/go-cmp v0.0.0 => ../../external/go-cmp
	google.golang.org/protobuf v0.0.0 => ../../external/golang-protobuf
	go.starlark.net v0.0.0 => ../../external/starlark-go
)
